<div id="main-body">
    <section class="main-banner">
        <div id="main-banner" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-banner" data-slide-to="0" class="active"></li>
                                            </ol>
            <div class="carousel-inner" style="text-align:center">
                <a href="#">
                    <div class="carousel-item active" style="">
                       <img class="main-banner-desktop" src="https://dingtea.vn/images/banner/mua2tang1.png" alt=""></div>
                </a>
            </div>
        </div>