/* Add application styles & imports to this file! */
body {
  font-family: 'Lato';
}

.bg-dark {background:#242221 !important}

ul {margin-bottom:0; padding: 0}
ul li, ol li {list-style:none}

a {color: #242221}
a:hover, a:focus {text-decoration:none; color:#e3c383 !important}
button:hover{cursor: pointer}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}
.navbar-brand {margin-bottom:10px}
header {background:#e8ddcb; position: relative}
header .navbar {position: static}


.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(199, 134, 50, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background:black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}
.top-link ul {padding-top:6px; padding-bottom:6px; margin-bottom:0;}
.top-link ul li, .top-link ul li a {color:#fff; font-size:18px}
.top-link ul li {padding:0 0 0 10px}
.top-link ul li:last-child { padding-left:15px}

.main-menu { text-transform: uppercase;}
.main-menu > li {display:block;font-size: 18px;border-bottom: 1px solid rgba(0,0,0,.1);}
.main-menu > li a {display:inline-block;padding:10px 20px !important;color:rgba(36, 34, 33, 0.6) !important;font-weight: 600;}
.main-menu > li a:hover {color:#000 !important;}
.main-menu > li:hover > a {color:#000 !important;}
.main-menu > li.active > a {color:#242221 !important;}
.ico-switch {float:right;padding: 8px 15px !important;}

.show > .ico-switch:before {content:"-";}

.main-banner img {max-width: 100%}


@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.howtobuy {background:#fff; text-align:center; padding: 40px 20px 60px;}
.howtobuy ul li {font-size:24px;text-align:center;vertical-align: middle;}
.howtobuy ul li.arr {vertical-align:middle;padding:0 20px;margin-bottom: 50px;}
.howtobuy ul li p {margin-top:15px}
.howtobuy ul li img {max-width:100%}

.title-1 {font-size:36px;margin:30px 0;display:inline-block;padding:20px 40px;border-bottom:1px solid;border-top:1px solid;position:relative; margin-bottom:50px; text-align: center!important; text-transform: uppercase}
.title-1:before, .title-1:after {width: 10px;height: 10px;border-radius:50%;background:#e3c383;position:absolute;top: 35px;content:"";}
.title-1:before {left:10px} 
.title-1:after {right:10px}
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
